/* css table */
.table-wrapper {
    height: calc(100vh - 236px) !important;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 4px;
}

.table-wrapper::-webkit-scrollbar {
    width: 6px;
}

.table-wrapper::-webkit-scrollbar-thumb {
    background-color: #b4b3b3;
    border-radius: 16px;

}

.table-wrapper::-webkit-scrollbar-track {
    background-color: #fff;
}

.table {
    border-spacing: 0;
    border-collapse: separate;
}

.table--w-100 {
    width: 100%;
}

.table-head__row, .table-body__row, .table-foot__row {
    height: 48px;
}

/* css col second and col third */
.table-head__col, .table-body__col {
    border-right: 1px solid var(--color-border-default);
}

.table-head__col:first-child, .table-body__col:first-child {
    width: 60px;
    padding: 0;
    text-align: center;
}

.table-head__col:last-child, .table-body__col:last-child {
    padding-right: 80px;
}

/* css col and row in table */
.table-head {
    position: sticky;
    z-index: 1;
    top: 0;
}

.table-head__row {
    background-color: #fff;
}

.table-head__col, .table-body__col {
    text-align: start;
    padding: 0 16px;
}

.table-head__col {
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    border-top: 1px solid var(--color-border-default);
    border-bottom: 1px solid var(--color-border-default);
}

/* table body */
.table-body__row {
    background-color: #fff;
    cursor: pointer;
    position: relative;
}

.table-body__row:not(.table-body__row--active):hover {
    background-color: var(--color-secondary-background);
}

.table-body__row:hover .table-body__col-option {
    visibility: visible;
}

.table-body__row--active {
    background-color: var(--color-row-select);
}

.table-body__col {
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    border-bottom: 1px solid var(--color-border-default);
}

.table-body__col-status {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--color-primary);
    margin-right: 8px;
}

.table-body__col-status--inactive {
    background-color: #b4b3b3 !important;
}

.table-body__col-option {
    position: absolute;
    top: 0;
    right: 8px;
    display: flex;
    visibility: hidden;
    align-items: center;
    height: 48px;
    column-gap: 12px;
}

.table-body__col-option > div {
    width: 36px;
    height: 36px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-border-default);
}

/* table footer */
.table-foot {
    width: 100%;
    height: 48px;
}

.table-foot__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0 20px;
    border-top: 1px solid var(--color-border-default);
}

.table-foot__total-records {
    font-weight: 400;
    font-size: 14px;
    color: #212121;
}

.table-foot__total-records span {
    font-weight: 700;
    margin: 0 4px;
}

/* table footer right */
.table-options {
    display: flex;
    align-items: center;
}

.table-options__title {
    margin-right: 64px;
    font-weight: 400;
    font-size: 14px;
    color: #616161;
}

.table-options__record-info {
    font-weight: 400;
    font-size: 14px;
    color: #616161;
    margin: 0 20px 0 16px;
}

.table-options__record-info span {
    color: #000000;
    font-weight: 700;
    margin: 0 4px;
}

.table-options__wrapper-btn {
    display: flex;
    column-gap: 12px;
}

.table-options__btn-left {
    color: #bdbdbd;
    margin: 0 8px 0 22px;
    cursor: pointer;
}

.table-options__btn-right {
    color: #424242;
    cursor: pointer;
}

.table-option-more-wrapper {
    position: relative;
}

.table-option-more {
    position: absolute;
    top: 40px;
    right: 0;
    width: 200px;
    padding: 8px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 16px rgba(23, 27, 42, 0.24);
    z-index: 10;
}

.table-option-more__item {
    display: flex;
    align-items: center;
    font-size: 14px;
    height: 36px;
    margin: 0;
    padding: 0 8px;
    border-radius: 4px;
    cursor: pointer;
}

.table-option-more__item:not(.table-option-more__item--disable):hover {
    background-color: var(--color-row-select);
}

.table-option-more__item--disable {
    color: #9C9C9C;
    cursor: not-allowed;
}

.table-option-more__item:last-child {
    color: #DE3618;
}

/* css loading when get data */
.table-loader-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.table-loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--color-primary);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 